absl-py==2.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
docopt==0.6.2
flatdict==4.0.1
fonttools==4.47.2
idna==3.6
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.3
ortools==9.8.3296
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pipreqs==0.4.13
pluggy==1.4.0
protobuf==4.25.2
pyparsing==3.1.1
pytest==7.4.4
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
setuptools==69.0.3
six==1.16.0
tzdata==2023.4
urllib3==2.2.1
wheel==0.42.0
yarg==0.1.9
